$color-white-1: rgba(255,255,255,1);
$color-white-1-transparent20: rgba(255,255,255,.2);
$color-white-1-transparent70: rgba(255,255,255,.7);
$color-blue-1: rgba(0,122,223,1);
$color-green-1: rgba(0,196,148,1);
$gradient-main: linear-gradient(to top, $color-blue-1 0%, $color-green-1 100%);
